*{
    margin: 0;
    padding: 0;
   
}

.content{
    display:grid;
}

.header{
    display: grid;
    justify-content: center;
}


#gameBoard {
    outline: 3px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-self:center;
    max-width: 500px;
    justify-self: center;
    margin-top: 20%;

    

}

.cell{
    outline: 1px solid black;
    min-width: 60px;
    min-height: 60px;
}

.modal {
    display: block; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.winModal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(127, 19, 19, 0.4); /* Black w/ opacity */
  }
  